<%- include('partials/header') %>

<section class="home-banner">
  <div class="home-banner-content">
    <p class="subtitle-first">From the first idea to the final pixel — I create designs that solve problems and bring delight.</p>
    <h1>Design That Feels</h1>
    <p class="about-me">Hi! I’m Kristina, a UX/UI(web) designer passionate about crafting user-friendly and inspiring interfaces. 
        I love combining creativity and analysis to solve real-world problems through design.</p>  
    <a href="/projects">View My Work</a>
    <div class="subtitle-second">
        <p>I believe that great design is a balance between aesthetics and functionality.</p>
        <p>Every project I work on is a unique story built on understanding user needs and the essence of the brand.</p>
    </div>
    
  </div>
</section>
<!--
<section class="projects-preview">
    <h2>Selected Works</h2>
    <div class="projects-grid">
        <% projects.slice(0, 3).forEach(project => { %>
            <div class="project-card">
                <img src="<%= project.image || '/images/placeholder.jpg' %>" alt="<%= project.name %>">
                <div class="project-info">
                    <h3><%= project.name %></h3>
                    <p><%= project.description %></p>
                    <a href="<%= project.link %>" class="btn" target="_blank">View Project</a>
                </div>
            </div>
        <% }) %>
    </div>
</section> 
-->

<%- include('partials/footer') %>
